
.gridItem{
    width:40rem;
    height: 30rem;
    margin:1rem;
    object-fit: contain;
    position: relative;
}
.gridItem2{
    
    height: 15rem;
    object-fit: fill;
    margin-bottom: 0.5rem;
    position: relative; 

}
.gridItem3{
    object-fit: fill;
    height: 15rem;
    margin-top: 1rem;
    position: relative;

}

.grid-item1{
    margin:1rem;
    width: 40rem;
    height: 33rem;
    
}