/*homestory*/
.story{
    display: flex;
}

.storyInfo{
    margin-left: 2rem;

    margin-bottom: 2rem;
}
.description{
    color: #a7a5a5;
}
.hrMargin{
    margin: 1rem 5rem;
}




/*latest page-------------------------------*/


.cardContainer{
    display: flex;
    margin: 1rem 5rem;
}
.card{
    color: black;
    text-decoration: none;
    border:none;
    margin-right: 1rem;
    margin-left: 1rem;  
    width: 50rem;
    margin-bottom: 3rem;
    word-wrap: inherit;
}
a.cardLink{
    text-decoration: none;
    color: black;
    text-decoration: none;
}
.imaGe{
    border-top-right-radius: 0.4375rem;
    width: 100%;
}
.cardInfo{
    margin: 1rem 2rem;
    text-decoration: none;

}
.Navbarstyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0 px; 
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.sideIcon{
    display: none;
}

.main-heading{
    color: red;
    background-color: aqua;
}
.main-heading-2{
    color: aqua;
    background-color: red;
}
.parastyle{
    font-size: 2rem;
    color: green;
}

p.cardInfo{
    color: #d3d3d3;
}


@media only screen and (min-width :100px) and (max-width :300px){
    .cardContainer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .card{
        margin-top: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    .latestHead{
        margin-left: 0px;
    }
}
@media only screen and (min-width :300px) and (max-width :500px){
    .cardContainer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .card{
        margin-top: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    .gridItem{
        display: none;
    }
    .latestHead{
        margin: 0px;
    }

}

@media only screen and (min-width :500px) and (max-width :700px){
    .cardContainer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .card{
        margin-top: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    .cardInfo{
        margin: 1rem 1rem;
    }
    .latestHead{
        margin: 0px;
    }
}
@media only screen and (min-width :700px) and (max-width :900px){
    .cardContainer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .card{
        margin-top: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    .gridItem{
        display: none;
    }
    .Linkitems{
        width: 100%;
        text-align: center;
        align-items: center;

        padding-bottom: 20px;
        
     
    }
    .storyInfo{
        margin:0px;
        margin-bottom: 3rem;

    }
}
@media only screen and (min-width :900px) and (max-width :1100px){
    .storyInfo{
        margin-left: 1rem;
      
        margin-bottom: 3rem;

    }
}