.homePage{
    margin-right: 5rem;
    margin-left: 5rem;
}
/* .grid-container{
    display: grid;
    width:82rem;
    height: 30rem;
    grid-template-columns: 50% 50%;  
} */
.textContaint{
    position: absolute;
    align-items: center;
    bottom: 2rem;
    font-weight: bolder;
}
.latestHead{
    font-weight:"800";
    border-bottom:double #fab534 5px ;
    border-end-end-radius:20px;
    margin-left: 5px;
    margin-right:5px ;
    margin-top: 1rem;
    margin-bottom: 2rem;
    z-index: 8;
    /* margin-left: 5rem;
    margin-right: 9rem;
    margin-top :0px;
    margin-bottom: 3rem; */

}
.latestHead1{
    font-weight:"800";
    z-index: 8;
    border-bottom:double #fab534 5px ;
    border-end-end-radius:20px;
    padding-top: 2rem;
    margin-left: 5px;
    margin-right:5px ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* margin-left: 5rem;
    margin-right: 9rem;
    margin-top :0px;
    margin-bottom: 3rem; */

}
.articlePage{
    display: flex;
    flex-direction: row;

}
.articles{
    flex: 9;
    margin-left: 5rem;
    margin-right: 2rem;
}
.sidebarContainer{
    flex: 3;
}
.sidebar{
    
    margin: 1rem;
    /* margin-right: 6rem; */
}

.homeAdvertise{
    border: solid 1px black;
    display: flex;
    align-items: center;
    margin:auto;
    height: 35rem;
}


/*======homeigame==========*/
.homeImage{
    border: 5px solid black;
    margin-bottom: 2rem;
    width: 100%;
    height: 30rem;

}
/* 
.gridItem{
    width:40rem;
    height: 30rem;
    margin:1rem;
    object-fit: contain;
    position: relative;
}
.gridItem2{
    
    height: 15rem;
    object-fit: fill;
    margin-bottom: 0.5rem;
    position: relative; */

/* }
.gridItem3{
    object-fit: fill;
    height: 15rem;
    margin-top: 1rem;
    position: relative;

}

.grid-item1{
    margin:1rem;
    width: 40rem;
    height: 33rem;
    
}*/
img{
    width: 90%;
    height: 90%;
} 
.homeItem{
    width: 80%;

    height: 25rem;
    object-fit: fill;
}



@media only screen and (min-width :100px) and (max-width :300px){
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 1rem 0.5rem;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
    }
    .homeImage{
        width: 90%;
    }
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 1rem 0.5rem;

    }
    .grid-container{
    
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 1rem 0.5rem;
    }
    .grid-item1{
    
        margin-top: 0px;
        
    }
    .gridItem{
        display: none;
    }
     
    .sidebar{
       
        margin-left: 5rem;
        margin-right: 2rem;
    }
    .subpost{

        margin: 1rem;
    }
}
@media only screen and (min-width :300px) and (max-width :500px){
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap; 
        object-fit: fill;
        margin : 1rem 0.5rem;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
    }
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 1rem 0.5rem;

    }
    .homeImage{
        width: 100%;
    }
    .gridItem{
        display: none;
    }
    
    .sidebar{
        margin-left: 5rem;
    margin-right: 2rem;
    }
    .subpost{

        margin: 1rem;
    }

}
@media only screen and (min-width :500px) and (max-width :700px){
     
    .gridItem{
        display: none;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
    }
    .sidebar{

        margin-left: 5rem;
    margin-right: 2rem;
    }
    
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 1rem 0.5rem;

    }
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 1rem 0.5rem;
    }
    .homeImage{
        width: 100%;
    }
    .subpost{

        margin: 1rem;
    }
}

@media only screen and (min-width :700px) and (max-width :1100px){
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 1rem 0.5rem;
    }
    .sidebar{

        margin-left: 5rem;
    margin-right: 2rem;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
    }
    .homeImage{
        width: 100%;
    }
    .gridItem{
        display: none;
    }
    

}