.homePage{
    margin-right: 5rem;
    margin-left: 5rem;
}
.textContaint{
    position: absolute;
    align-items: center;
    bottom: 2rem;
    font-weight: bolder;
}
.latestHead{
    font-weight:"800";
    border-bottom:double #fab534 5px ;
    border-end-end-radius:20px;
    margin-left: 5px;
    margin-right:5px ;
    margin-top: 1rem;
    margin-bottom: 2rem;
    z-index: 8;

}
.latestHead1{
    font-weight:"800";
    z-index: 8;
    border-bottom:double #fab534 5px ;
    border-end-end-radius:20px;
    padding-top: 2rem;
    margin-left: 5px;
    margin-right:5px ;
    margin-top: 3rem;
    margin-bottom: 3rem;
  
}
.articlePage{
    display: flex;
    flex-direction: row;

}
.articles{
    flex: 9;
    margin-left: 5rem;
    margin-right: 2rem;
}
a.articles{
    color: black;
    text-decoration: none;
}
a.articles:hover{
    color: black;
    text-decoration: none;
}
.sidebarContainer{
    flex: 3;
}
.sidebar{
    
    margin: 1rem;
    /* margin-right: 6rem; */
}
a.sidebar{
    color: black;
    text-decoration: none;
}

a.sidebar:hover{
    color: black;
    text-decoration: none;
}

.homeAdvertise{
    border: solid 1px black;
    display: flex;
    align-items: center;
    margin:auto;
    height: 35rem;
    align-items: center;
        justify-content: center;
}

a.story{
    color: black;
    text-decoration: none;

}

a.story:hover{
    color: black;
    text-decoration: none;

}
/*======homeigame==========*/

img{
    width: 100%;
    height: 100%;
} 
.homeItem{
    width: 80%;

    height: 25rem;
    object-fit: fill;
}



@media only screen and (min-width :100px) and (max-width :300px){
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 1rem 0.5rem;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
        
    }
    .homeImage{
        width: 90%;
    }
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 1rem 2rem;

    }
    .sidebar{
       
        margin-left: 5rem;
        margin-right: 2rem;
    }
    .subpost{

        margin: 1rem;
    }
}
@media only screen and (min-width :300px) and (max-width :500px){
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap; 
        object-fit: fill;
        margin : 1rem 0.5rem;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
        
    }
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: scale-down;
        margin : 2rem 2rem;

    }
    .homeImage{
        width: 100%;
    }

    .sidebar{
        margin-left: 5rem;
    margin-right: 2rem;
    }
    .subpost{

        margin: 1rem;
    }

}
@media only screen and (min-width :500px) and (max-width :700px){
     
    
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
    }
    .sidebar{

        margin-left: 5rem;
    margin-right: 2rem;
    }
    
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 2rem 3rem;

    }
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 1rem 0.5rem;
    }
    .homeImage{
        width: 100%;
    }
    .subpost{

        margin: 1rem;
    }
}

@media only screen and (min-width :700px) and (max-width :1100px){
    .articlePage{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 1rem 0.5rem;
    }
    .story{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        object-fit: fill;
        margin : 2rem 5rem;

    }
    .sidebar{

        margin-left: 5rem;
    margin-right: 2rem;
    }
    .homeAdvertise{
        display: none;
        margin : 1rem 0.5rem;
    }
    .homeImage{
        width: 100%;
    }
    .gridItem{
        display: none;
    }
    

}