/* body{
    background-color: rgb(225, 250, 250);
} */
.register {
    /* width: 100%;
    background-color: rgb(225, 250, 250);

    height: calc(75vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(225, 250, 250); */
    width: 20rem;
    margin: 0 auto;
}

.registerTitle {
    font-size: 3rem;
}

.registerForm {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
}

.registerForm>label {
    margin: 0.8rem 0;
}

.registerInput {
    padding: 0.8rem;
}

.registerButton {
    margin-top: 1.4rem;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 0.7rem;
    padding: 0.9rem
}

.registerButton:disabled {
    cursor: not-allowed;
    background-color: rgb(129, 188, 188);
}

.error {
    background-color: rgb(222, 11, 11);
}

.LoginButton {
    position: absolute;
    top: 4rem;
    right: 1.5rem;
    border: none;
    background-color: lightcoral;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.7rem;
    color: white
}