.posts{
    flex: 3;
    margin: 5px 5px;
}
.posthead{
    font-weight:"800";
    border-bottom:double #fab534 5px ;
    border-end-end-radius:20px;
   
    margin-bottom: 2rem;
}
.advertise{
    border: solid 1px black;
    display: flex;
    align-items: center;
    margin:auto;
    height: 35rem;
}