.heading {
    width: 100%;
    /* background-color: #f8f9fa; */
    background-color: white;
    /* position: sticky; */
    top: 0;
    z-index: 10;
    overflow: hidden;
}

.headstyle1 {
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-weight: lighter;
    padding: 0px;
}

.headstyle2 {
    font-size: 3rem;
    font-weight: bold;
}

.headstyle {
    font-family: sans-serif;
    text-align: center;
    margin-top: 1.5rem;
}

.headstyle1 {
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-weight: lighter;
    padding: 0px;
}

.headstyle2 {
    font-size: 3rem;
    font-weight: bold;
}

.Navbarstyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0 px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.Linkitems {
    padding: 1.5rem;
    /* padding: 0.8rem 1.5rem 0.8rem 1.5rem; */
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.Linkitems:hover {
    transform: scale(1.1);
    /* color: #006CFF; */
    background-color: black;
    color: white;
}

.navHr {
    opacity: 0.1;
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    font-size: 18px;
}



@media only screen and (max-width :900px) {
    .headingOne {
        display: none;
    }
}

@media only screen and (min-width :900px) {
    .headingTwo {
        display: none;
    }
}